/**
 * Explorate Color Palette
 * #112c41 - Dark Blue 
 * #107070 - Green
 * #9dcabb - Lime Green
 * #d2d369 - Sand
 * #e69b79 - Salmon
 **/

 .json-textarea {
    font-family: monospace;
    white-space: pre;
}

.text-navy {
    color: navy;
}

.flex {
    display: flex;
}

.mt-10 {
    margin-top: 10px;
}
/*  naving convention will change.. this isn't consistent */
.mb-2 {
    margin-bottom: 2em;
}

.pr-1 {
  padding-right: 1em;
}

.pos-rel {
    position: relative;
}

.icon-prepend {
    cursor: pointer;
}

.space-around {
    justify-content: space-around
}

.w-100 {
    width: 100%;
}