.shipment-booking-component {
    border-radius: 4px;
    margin-bottom: 2em;
    padding: 0;
}

.shipment-booking-button {
    height: 100%;
}

.date-view,
.port-view,
.equipment-view {
    background: #107070;
    color: #fff;
    font-weight: normal;
    min-height: 18px;
    position: absolute;
    top: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

#origin-port-badge{
    left: 30px;
}

#dest-port-badge {
    left: 15px;
}

.date-view {
    left: -25px;
    top: -22px;
}

.light-grey-bg {
    background: #e1e1e1;
    padding: 0 1em 0 0;
}


@media screen and (max-width: 767px) {
    .light-grey-bg {
        padding: 0 2em 0 1em; 
    }
    .btn-success.mt-10 {
        margin-top: .5em;
    }
}